* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header-left {
  float: left;
}
.header-left h3 {
  font-size: 30px;
}

.header-right a:hover {
  background-color: rgba(199, 0, 0, 0.3);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right {
  float: right;
  margin-right: -25px;
}
.logo {
  width: 50px;
  height: 40px;
  margin-top: 13px;
  border-radius: 7px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #83d2e0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.top-wrapper {
  padding: 80px 0 100px 0;
  background-color: white;
  background-size: cover;
  color: black;
  text-align: center;
  id: "home";
}

.gambar-profile {
  width: 400px;
  border-radius: 5% !important;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  margin-top: 1px;
}
.top-wrapper p {
  opacity: 0.7;
}

.margin-animasi {
  margin-top: -10px;
}

.lesson-wrapper {
  padding: 80px 0 0px 0px;
  background-color: white;
  background-size: cover;
  color: black;
  text-align: center;
}

.heading h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  margin-top: 1px;
}
.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
.heading {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.gambar-profile2 {
  width: 100px;
  border-radius: 5% !important;
}

.gambar-profile3{
  width: 100px;
  border-radius: 1% !important;
}

.project {
  float: left;
  width: 25%;
}

.project-icon {
  position: relative;
}

.project-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
}

.gambar-profile3 {
  width: 100px;
  height: 150px;
  border-radius: 5% !important;
}

.lesson-wrapper2 {
  padding: 80px 0 0px 0px;
  background-color: white;
  background-size: cover;
  color: black;
  text-align: center;
}


footer img {
  width: 90px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}


